.footer {
  display: block;
  padding: var(--space-xxxl) var(--gap);
  background-color: var(--default);

  &__content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 1280px;
  }
}