.grid {
  display: grid;
  
  &_m-columns {
    &_12 {
      grid-template-columns: repeat(12, 1fr);
    }

    &_10 {
      grid-template-columns: repeat(10, 1fr);
    }
  }

  &_col-gap {
    &_two-thirds {
      column-gap: calc(var(--gap) * 2 / 3);   /*CALC for col-gap check for Safari*/
    }

    &_full {
      column-gap: var(--gap);
    }

    &_half {
      column-gap: calc(var(--gap) / 2);   /*CALC for col-gap check for Safari*/
    }
  }

  &_row-gap {
    &_half {
      row-gap: calc(var(--gap) / 2);   /*CALC for row-gap check for Safari*/
    }

    &_full {
      row-gap: var(--gap);
    }
  }

  &__fraction {
    display: grid;

    &_m-col {
      &_2 {
        grid-column-end: span 2;
      }
  
      &_3 {
        grid-column-end: span 3;
      }
  
      &_4 {
        grid-column-end: span 4;
      }
  
      &_5 {
        grid-column-end: span 5;
      }
  
      &_8 {
        grid-column-end: span 8;
      }
    }
  }
}