.placeholder {
  display: block;
  background-color: var(--text-primary); /* По умолчанию имеет такой же цвет фона как и цвет основного текста. ? is modificator _view_primary useless?? */

  &_size_m {
    width: 72px;
    height: 72px;
  }

  &_view_primary {
    background-color: var(--text-primary);
  }
}