.section {
  display: grid;

  &_indent-b {
    &_xxl {
      margin-bottom: var(--space-xxl);
    }

    &_xxxxl {
      margin-bottom: var(--space-xxxxl);
    }
  }

  &_space-v {
    &_xxl {
      padding-left: var(--space-xxl);
      padding-right: var(--space-xxl);
    }

    &_xxxxl {
      padding-left: var(--space-xxxxl);
      padding-right: var(--space-xxxxl);
    }
  }
}