.theme {
  display: block;

  &_color {
    &_project-default {
      --default: #FFFFFF;
      --accent: #ffcc00;
      --border: #000000;
      --text-primary: #000000;
      --text-secondary: rgba(0, 0, 0, 0.6);
      --text-additional: rgba(0, 0, 0, 0.3);
      --text-link: #0077ff;

      --image-placeholder:  url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='64' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M32 16h16V8h8v8h8v8h8v8h8v16h-8v-8h-8v8h-8v8h-8v-8H32v8h-8v-8h-8v-8H8v8H0V32h8v-8h8v-8h8V8h8v8zm-8 16h8v-8h-8v8zM16 0h8v8h-8V0zm0 56h8v8h-8v-8zm40-24v-8h-8v8h8zm8-32v8h-8V0h8zm0 56v8h-8v-8h8z' fill-rule='nonzero' fill='%23000000' /%3e%3c/svg%3e");
    }

    &_project-brand {
      --default: #0077ff;
      --accent: #FFFFFF;
      --border: #FFFFFF;
      --text-primary: #FFFFFF;
      --text-secondary: rgba(255, 255, 255, 0.6);
      --text-additional: rgba(255, 255, 255, 0.3); 
      --text-link: #FFFFFF;

      --image-placeholder:  url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='64' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M32 16h16V8h8v8h8v8h8v8h8v16h-8v-8h-8v8h-8v8h-8v-8H32v8h-8v-8h-8v-8H8v8H0V32h8v-8h8v-8h8V8h8v8zm-8 16h8v-8h-8v8zM16 0h8v8h-8V0zm0 56h8v8h-8v-8zm40-24v-8h-8v8h8zm8-32v8h-8V0h8zm0 56v8h-8v-8h8z' fill-rule='nonzero' fill='%23FFFFFF' /%3e%3c/svg%3e");
    }

    &_project-inverse {
      --default: #000000;
      --accent: #FFFFFF;
      --border: #FFFFFF;
      --text-primary: #FFFFFF;
      --text-secondary: rgba(255, 255, 255, 0.6);
      --text-additional: rgba(255, 255, 255, 0.3);
      --text-link: #0077ff;

      --image-placeholder:  url("data:image/svg+xml;charset=UTF-8,%3csvg width='80' height='64' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M32 16h16V8h8v8h8v8h8v8h8v16h-8v-8h-8v8h-8v8h-8v-8H32v8h-8v-8h-8v-8H8v8H0V32h8v-8h8v-8h8V8h8v8zm-8 16h8v-8h-8v8zM16 0h8v8h-8V0zm0 56h8v8h-8v-8zm40-24v-8h-8v8h8zm8-32v8h-8V0h8zm0 56v8h-8v-8h8z' fill-rule='nonzero' fill='%23FFFFFF' /%3e%3c/svg%3e");
    }

    &_project-warning {
      --default: #ff3333;
      --accent: #FFFFFF;
      --border: #ff3333;
      --text-primary: #FFFFFF;
      --text-secondary: rgba(255, 255, 255, 0.6);
      --text-additional: rgba(255, 255, 255, 0.3); 
      --text-link: #FFF;
    }
  }

  &_size_default {
    --text-s: 8px;
    --text-m: 10px;
    --text-l: 11px;
    --text-xl: 13px;
    --text-xxl: 16px;
    --line-height-s: 21px; /* where????*/
    --line-height-m: 25px;
    --line-height-l: 28px;
    --line-height-xl: 34px;
    --line-height-xxl: 38px;
  }

  &_space_default {
    --space-xxxs: 3px;
    --space-xxs: 6px;
    --space-xs: 9px;
    --space-s: 15px;
    --space-m: 18px;
    --space-l: 24px;
    --space-xl: 27px;
    --space-xxl: 36px;
    --space-xxxl: 45px;
    --space-xxxxl: 51px;
    --space-xxxxxl: 72px;
  }

  &_gap_small {
    --gap: var(--space-xl);
  }
}

@media (max-width: 1023px) {
  .theme_gap_small {
    --gap: var(--space-s);
  }
}